:root {
    --color-primary: #1A94FF;
    --color-secondary: #27272A;
    --color-accent: #FF424E;
    --color-text: #27272A;
    --color-text-light: #808089;
    --color-background: #F5F5FA;
    --color-white: #FFFFFF;
    --color-border: #EBEBF0;

    --spacing-xs: 4px;
    --spacing-sm: 8px;
    --spacing-md: 16px;
    --spacing-lg: 24px;
    --spacing-xl: 32px;

    --border-radius-sm: 4px;
    --border-radius-md: 8px;
    --border-radius-lg: 12px;

    --font-size-xs: 12px;
    --font-size-sm: 14px;
    --font-size-md: 16px;
    --font-size-lg: 18px;
    --font-size-xl: 20px;
    --font-size-2xl: 24px;
}